node-red/flows.json
[
    {
        "id": "cardioia-tab",
        "type": "tab",
        "label": "CardioIA - Parte 2",
        "disabled": false,
        "info": "Dashboard de sinais vitais.\n\nFluxo: HiveMQ -> mqtt in -> json -> chart/gauge/alerta.\n\nAjuste credenciais no nó `mqtt-broker` (HiveMQ Cloud) e\n(opcional) no nó `influxdb` antes de fazer deploy."
    },
    {
        "id": "ui-base",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            }
        },
        "site": {
            "name": "CardioIA",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ui-tab",
        "type": "ui_tab",
        "name": "CardioIA",
        "icon": "favorite",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui-grp-vitais",
        "type": "ui_group",
        "name": "Sinais Vitais",
        "tab": "ui-tab",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "ui-grp-alertas",
        "type": "ui_group",
        "name": "Alertas",
        "tab": "ui-tab",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "hivemq-broker",
        "type": "mqtt-broker",
        "name": "HiveMQ Cloud",
        "broker": "SEU-CLUSTER.s2.eu.hivemq.cloud",
        "port": "8883",
        "clientid": "node-red-cardioia",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "mqtt-in-telemetry",
        "type": "mqtt in",
        "z": "cardioia-tab",
        "name": "cardioia/+/telemetry",
        "topic": "cardioia/+/telemetry",
        "qos": "1",
        "datatype": "auto",
        "broker": "hivemq-broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 160,
        "y": 120,
        "wires": [["json-parse"]]
    },
    {
        "id": "json-parse",
        "type": "json",
        "z": "cardioia-tab",
        "name": "parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 360,
        "y": 120,
        "wires": [["debug-raw", "extract-bpm", "extract-temp", "alert-check", "influx-out"]]
    },
    {
        "id": "debug-raw",
        "type": "debug",
        "z": "cardioia-tab",
        "name": "telemetria recebida",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 580,
        "y": 60,
        "wires": []
    },

    {
        "id": "extract-bpm",
        "type": "change",
        "z": "cardioia-tab",
        "name": "msg.payload = bpm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bpm",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 140,
        "wires": [["chart-bpm"]]
    },
    {
        "id": "chart-bpm",
        "type": "ui_chart",
        "z": "cardioia-tab",
        "name": "BPM",
        "group": "ui-grp-vitais",
        "order": 1,
        "width": 8,
        "height": 4,
        "label": "Batimentos (BPM)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "aguardando dados...",
        "dot": false,
        "ymin": "40",
        "ymax": "180",
        "removeOlder": "5",
        "removeOlderPoints": "300",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 800,
        "y": 140,
        "wires": [[]]
    },

    {
        "id": "extract-temp",
        "type": "change",
        "z": "cardioia-tab",
        "name": "msg.payload = temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 220,
        "wires": [["gauge-temp"]]
    },
    {
        "id": "gauge-temp",
        "type": "ui_gauge",
        "z": "cardioia-tab",
        "name": "Temperatura",
        "group": "ui-grp-vitais",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value | number:1}}",
        "min": "30",
        "max": "42",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "37.5",
        "seg2": "38.0",
        "diff": false,
        "x": 800,
        "y": 220,
        "wires": []
    },

    {
        "id": "alert-check",
        "type": "function",
        "z": "cardioia-tab",
        "name": "regra de alerta",
        "func": "// Limites configuráveis via context global (settings.js) ou hardcoded.\nconst BPM_MAX  = global.get('BPM_MAX')  || 120;\nconst TEMP_MAX = global.get('TEMP_MAX') || 38.0;\n\nconst p = msg.payload;\nif (!p || typeof p.bpm !== 'number' || typeof p.temp !== 'number') {\n    // payload malformado — descarta sem quebrar o flow\n    return null;\n}\n\nconst alertaBpm  = p.bpm  > BPM_MAX;\nconst alertaTemp = p.temp > TEMP_MAX;\nconst emAlerta   = alertaBpm || alertaTemp;\n\nlet motivo = [];\nif (alertaBpm)  motivo.push(`BPM ${p.bpm} > ${BPM_MAX}`);\nif (alertaTemp) motivo.push(`Temp ${p.temp.toFixed(1)}°C > ${TEMP_MAX}°C`);\n\nmsg.payload = emAlerta\n    ? `🚨 ALERTA: ${motivo.join(' e ')}`\n    : '✅ Sinais vitais OK';\nmsg.background = emAlerta ? '#ca3838' : '#00b500';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 300,
        "wires": [["alert-text"]]
    },
    {
        "id": "alert-text",
        "type": "ui_text",
        "z": "cardioia-tab",
        "group": "ui-grp-alertas",
        "order": 1,
        "width": 8,
        "height": 2,
        "name": "indicador de alerta",
        "label": "Status",
        "format": "<span style=\"font-size:18px;font-weight:bold;color:white;background:{{msg.background}};padding:8px 16px;border-radius:4px;\">{{msg.payload}}</span>",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 800,
        "y": 300,
        "wires": []
    },

    {
        "id": "inject-mock",
        "type": "inject",
        "z": "cardioia-tab",
        "name": "MOCK alerta (clique pra simular)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "cardioia/mock/telemetry",
        "payload": "{\"ts\":0,\"deviceId\":\"mock\",\"temp\":38.5,\"hum\":50,\"bpm\":135,\"buffered\":false}",
        "payloadType": "str",
        "x": 160,
        "y": 60,
        "wires": [["json-parse"]],
        "d": true
    },

    {
        "id": "influx-out",
        "type": "influxdb out",
        "z": "cardioia-tab",
        "influxdb": "influx-config",
        "name": "InfluxDB Cloud (opcional)",
        "measurement": "vitals",
        "precision": "s",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "cardioia",
        "bucket": "cardioia",
        "x": 600,
        "y": 380,
        "wires": [],
        "d": true
    },
    {
        "id": "influx-config",
        "type": "influxdb",
        "hostname": "https://us-east-1-1.aws.cloud2.influxdata.com",
        "port": "443",
        "protocol": "https",
        "database": "cardioia",
        "name": "InfluxDB Cloud",
        "usetls": true,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://us-east-1-1.aws.cloud2.influxdata.com",
        "rejectUnauthorized": true
    }
]
